.wrapper {
  display: flex;
  width: 100%;
  border-bottom: 4px solid #b30303;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  position: fixed;
  z-index: 29;
}