.container {
  position: relative;
  height: calc(50vh - 2rem);
  width: calc(100vw - 1.1rem);
  background-color: rgba(10,20,240,0.5);
}

.img-box {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  height: auto;
  top: 25%;
  position: absolute;
}

.img-sm {
  position: absolute;
  width: 15rem;
  left: 20rem;
  top: 32%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none; 
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none; 
}

.slide {
  opacity: 0;
  transition-duration: 1s;
  transform: scale(0.75);
  /* transform: rotate(180deg); */
  transition: 200ms ease-in-out;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .img-sm {
    position: absolute;
    width: 15rem;
    left: 4rem;
    top: 32%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (max-width: 1200px) {

}