.container {
  width: 100%;
  height: calc(100vh - 5rem);
  background-repeat: no-repeat;
  background-position: 50% 90%;
}

.container::before {
  content: '';
  background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(0,212,255,0) 80%);
  width: 100%; 
  height: calc(100vh - 5rem);
  position: absolute;
}

.containerTitle {
  font-family: 'Ubuntu';
  font-size: 40px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 10%;
  margin-left: 10%;
  width: 25rem;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;;
}
