.container {
  width: 33%;
  height: calc(100vh/2 - 3rem);
  max-height: 25rem;
  margin: 1rem 0rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.tab-icon {
  font-size: 4rem;
}

.tab-body::before {
  content: '';
  background-image: url('../../../assets/xs/webdesign.jpg');
  opacity: 0.5;
  /* z-index: 99; */
  width: 625px;
  height: 400px;
  position: absolute;
  margin: -2rem;
  padding: 0rem;
}

.tab-body {
  display: flex;
  justify-items: center;
  position: absolute;
  margin: 0px;
  text-align: center;
  margin-top: 2rem;
  color: #b30303;
  align-items: center;
  max-width: 30%;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}


.tab-body::after {
  content: '';
  background-color: rgba(179,3,3,0.8);
  width: 625px;
  height: 400px;
  z-index: 99;
  position: absolute;

  margin: -2rem;
  padding: 0rem;
}

.tab-body:hover:after {
  background-color: rgba(179,3,3,0);
  transition: background-color ease-in-out 300ms;
}
.tab-body:hover:before {
  background-image: none;
  transition: background-image ease-in-out 300ms;
}

.text-box {
  width: 70%;
  padding: 1rem;
}

.tab-body h1 {
  letter-spacing: 3px;
  margin-top: 0.2rem;
  color: #353535;
  margin-bottom: -1rem;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container {
    height: calc(110vh/4 - 3rem);
    width: 30%;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pagination {
    z-index: 24;
    bottom: 5%;
    left: 40%;
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}