.container {
  width: 33%;
  height: calc(100vh/2 - 3rem);
  max-height: 25rem;
  margin: 3rem 0rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid #c2c2c2;
  transition: all ease-in 400ms;
  background: transparent;
}

.container:hover {
  transition: background ease-out 400ms;
  background-color: #f7f7f7;
}

.container button {
  position: relative;
  border: rgb(120, 0, 0);
  color: white;
  background: #b30303;
  padding: 10px 15px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 16px;
  margin-left: 1rem;
}

.overlay-img {
  opacity: 0.6;
  width: 100%;
}

.overlay-img:hover { 
  opacity: 0.0;
  transition: opacity ease-in-out 300ms;
}

.tab-icon {
  font-size: 4rem;
}

.tab-body {
  display: flex;
  justify-items: center;
  position: absolute;
  margin: 0px;
  text-align: center;
  margin-top: 2rem;
  color: #b30303;
  align-items: center;
  max-width: 30%;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  /* visibility: hidden; */
}
/* .tab-body:hover {
  visibility: visible;
} */

.container:hover {
  opacity: 1;
  background-image: none;
  transition: background-image ease-in-out 300ms;
}

.text-box {
  width: 70%;
  padding: 1rem;
}

.tab-body h1 {
  letter-spacing: 3px;
  margin-top: 0.2rem;
  color: #353535;
  font-size: 2rem;
  font-weight: 700;
}

.tab-body h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.tab-text {
  font-size: 16px;
  margin-top: -2rem;
  color: black;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container {
    height: 11rem;
    width: 45%;
  }

  .tab-text {
    font-size: 12px;
    margin-top: 0rem;
  }

  .tab-body h1 {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
  }
  
  .tab-body h4 {
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0px;
    line-height: 1;
    margin-top: -8px;
    height: 2rem;
  }

  .tab-icon {
    font-size: 2rem;
  }

  .text-box {
    width: 80%;
    padding: 0rem;
  }

  .tab-text {
    font-size: 10px;
    line-height: 1;
  }

  .tab-body {
    margin: 0px;
    margin-top: 1rem;
    max-width: 40%;
    margin-top: 0px;
  }

  .tab-btn-container {
    margin: 0px;
    margin-top: 0.3rem;
  }
  
  
  .tab-body button {
    margin: 0px 5px;
    font-size: 10px;
    padding: 0px;
    border: none;
    background: #b30303;
    color: white;
    padding: 2px 5px;
    border: 1px solid #aa0000;
  }

  .container {
    width: 45%;
    /* height: calc(40vh/2 - 2rem); */
    max-height: 25rem;
    margin: 0rem 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 600px) {
    .tab-body h1 {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.4rem;

  }
  
  .tab-body h4 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 1;
    margin-top: 0rem;
  }
  .tab-body button {
    margin: 0px 5px;
    font-size: 14px;
    padding: 0px;
    border: none;
    background: #b30303;
    color: white;
    padding: 5px 10px;
    border: 1px solid #aa0000;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pagination {
    z-index: 24;
    bottom: 5%;
    left: 40%;
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tab-body h1 {
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0.4rem;

  }
  
  .tab-body h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 1;
    margin-top: 0rem;
  }
  .tab-body button {
    margin: 0px 5px;
    font-size: 14px;
    padding: 0px;
    border: none;
    background: #b30303;
    color: white;
    padding: 10px 20px;
    border: 1px solid #aa0000;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1024px) {
  .overlay-img {
    opacity: 0.6;
    width: 100%;
    height: 110%;
  }
  .tab-text {
    font-size: 12px;
  }

  .text-box {
    width: 90%;
    height: 3rem;
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tab-text {
    font-size: 16px;
  }
}