.slider {
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: none;
  top: 3rem;
}

/* .slider::before {
  content: '';
  position: relative;
  background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(0,212,255,0) 80%);
  width: 100%; 
  height: calc(100vh - 5rem);
} */

.image {
  height: auto;
  background-repeat: no-repeat;
  background-position: 66% 90%;
  overflow: hidden;
  margin: auto;
  width: 100%;
  max-height: calc(100vh - 2rem);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none; 
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none; 
}

.slide {
  opacity: 0;
  transition-duration: 1s;
  transform: scale(0.75);
  /* transform: rotate(180deg); */
  transition: 200ms ease-in-out;
}

/* .slide-active::before {
  content: '';
  background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(0,212,255,0) 80%);
  width: 100%; 
  height: calc(100vh - 5rem);
  position: absolute;
  transition: all ease-in;
} */

.slide-active {
  opacity: 1;
  transition-duration: 1s ;
  transform: scale(1.0);
}

.slider-infobox {
  background-color: rgba(0,0,0,0.2);
  max-width: 40%;
  position: absolute;
  left: 10%;
  top: 5rem;
  padding: 2rem;
  z-index: 20;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.slider-infobox h1 {
  font-size: 36px;
  color: #353535;
  margin-bottom: 0px;
  margin-top: 0rem;
}

.slider-subtitle {
  font-family: 'Ubuntu';
  color: #b30303;
  font-size: 20px;
  font-weight: 200;
}

.slider-infobox p {
  font-size: 16px;
}

.slider-infobox button {
  border-radius: 2px;
  background: #b30303;
  color: white;
  font-size: 20px;
  padding: 15px 35px;
  border: none;
  margin-top: 2rem;
}

.slider-btn-box {
  display: flex;
  justify-content: space-between;
  max-width: 45%;
}

.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  color: black;
  z-index: 24;
  bottom: 5%;
  left: 40%;
  width: 20%;
}

.page-dot-active {
  position: relative;
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background-color: #b30303;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-arrow {
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    user-select: none; 
  }
  
  .left-arrow {
    position: absolute;
    left: 10px;
    font-size: 1.2rem;
    user-select: none; 
  }

  .image {
    height: 15.5rem;
    width: 100%;
  }
  .slide-active::before {
    height: calc(50vh - 5rem);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pagination {
    z-index: 24;
    bottom: 5%;
    left: 40%;
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}