/* .slider-infobox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  z-index: 1;
  left: 0%;
  top: 0rem;
} */

.slider-infobox {
  background-color: rgba(255,255,255,0.7);
  background-image: url('../../../../assets/bg8.png');
  max-width: 40%;
  position: absolute;
  left: 10%;
  top: 5rem;
  padding: 2rem;
  z-index: 20;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border: 1px solid #cacaca;
  border-radius: 10px;
}

.slider-infobox h1 {
  font-size: 36px;
  color: #353535;
  margin-bottom: 0px;
  margin-top: 0rem;
}

.slider-subtitle {
  font-family: 'Ubuntu';
  color: #b30303;
  font-size: 20px;
  font-weight: 200;
}

.slider-infobox p {
  font-size: 16px;
}

.slider-infobox button {
  border-radius: 1px;
  background: #b30303;
  border: 1px solid #9b0000;
  color: white;
  font-size: 20px;
  padding: 15px 35px;
  margin: 1rem 0.5rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.slider-infobox button:hover {
  box-shadow: none;
  background: #9b0000;
}

.slider-btn-box {
  display: flex;
  justify-content: space-arround;
  max-width: 45%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slider-infobox {
    max-width: 74%;
    left: 10%;
    top: 5rem;
    padding: 10px;
  }

  .slider-infobox p {
    font-size: 10px;
    line-height: 12px;
  }

  .slider-infobox h1 {
    font-size: 18px;
    color: #353535;
    margin-bottom: 0px;
    margin-top: 0rem;
  }
  .slider-subtitle {
    font-size: 12px;
    margin: 0px;
  }
      
  .slider-infobox button {
    font-size: 12px;
    padding: 5px 20px;
    margin: 0rem 0.5rem;
  }

  .slider-btn-box {
    max-width: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slider-infobox {
    max-width: 70%;
    left: 15%;
    top: 1rem;
    padding: 10px;
  }

  .slider-infobox p {
    font-size: 14px;
  }

  .slider-infobox h1 {
    font-size: 24px;
    color: #353535;
    margin-bottom: 0px;
    margin-top: 0rem;
  }
  .slider-subtitle {
    font-size: 14px;
  }
    
  .slider-infobox button {
    font-size: 14px;
    padding: 8px 24px;
  }

  .slider-btn-box {
    max-width: 40%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slider-infobox {
    max-width: 70%;
    padding: 1rem;
    margin: 5rem 0rem;
  }

  .slider-infobox p {
    font-size: 16px;
  }

  .slider-infobox h1 {
    font-size: 24px;
    color: #353535;
    margin-bottom: 0px;
    margin-top: 0rem;
  }

  .slider-subtitle {
    font-size: 16px;
  }

  .slider-infobox button {
    font-size: 18px;
    padding: 10px 30px;
  }

  .slider-btn-box {
    max-width: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider-infobox {
    max-width: 60%;
  }

  .slider-infobox p {
    font-size: 18px;
  }

  .slider-infobox h1 {
    font-size: 28px;
    color: #353535;
    margin-bottom: 0px;
    margin-top: 0rem;
  }

  .slider-subtitle {
    font-size: 18px;
  }

  .slider-infobox button {
    font-size: 18px;
    padding: 10px 30px;
  }

  .slider-btn-box {
    max-width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slider-infobox {
    max-width: 50%;
    top: 10%;
  }

  .slider-infobox p {
    font-size: 20px;
  }

  .slider-infobox h1 {
    font-size: 34px;
    color: #353535;
    margin-bottom: 0px;
    margin-top: 0rem;
  }
  .slider-infobox button {
    font-size: 22px;
    padding: 15px 35px;
  }

  .slider-btn-box {
    max-width: 40%;
  }
}
